* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background: rgb(51, 51, 51);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background: #1f2937;
    width: 40vw;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: left;
    padding :  50px 50px
}
h1{
    color: white;
    font-size: 60px;
}

.titles span{
    display: block;
    color: #10B981;
}

p {
    color: #D5D4D8;
    font-size: 20px;
    padding: 5px 0 ;
}

.btn{
    width: 160px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
}

.gen{
    background-color: #10B981;
}

.copy{
    margin: 0 10px;
}