* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background: rgb(51, 51, 51);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    background: #1f2937;
    width: 35vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: left;
    padding :  100px 70px
}
h1{
    color: white;
    font-size: 60px;
}

.titles span{
    display: block;
    color: #10B981;
}

p {
    color: #D5D4D8;
    font-size: 20px;
    padding: 5px 0 ;
}

.btn{
    width: 200px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

.gen{
    background-color: #10B981;
    color: white;
}

.copy{
    background-color: #273549;
        color: #10B981;


}
hr{
    border: 2px solid #2F3E53;
}

.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
}